.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.header li {
    display: inline-block;
    margin: 20px;
}

.header a {
    text-decoration: none;
    color: black;
}

.header a:hover{
    color: blue;
}

.header a:active,
.header a.active {
    color: green;
}